.reports-table th,
.reports-table td {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

.reports-table tbody tr:hover {
  background-color: #f1f1f1;
}

.reports-table th {
  font-weight: bold;
}
